<mat-card-content>
    <div *ngIf="contenidoSolicitudes">
        <p>Se le indica que se eliminaran todas las notificaciones de permisos, horas extras y vacaciones
            seleccionadas.</p>
        <p id="mensaje">¿ESTÁ SEGURO DE ELIMINAR LAS NOTIFICACIONES?</p>
    </div>
    <div *ngIf="contenidoAvisos">
        <p>Se le indica que se eliminaran todas los avisos de horas extras, servicios de alimentación, comunicados
            y aletras de timbres seleccionados.</p>
        <p id="mensaje">¿ESTÁ SEGURO DE ELIMINAR LOS AVISOS?</p>
    </div>
</mat-card-content>

<div style="text-align: center;">
    <button id="aceptar" mat-button class="btn btn-primary btn-sm" (click)="ConfirmarListaNotificaciones()"
        cdkFocusInitial>Aceptar</button>
    <button mat-button id="cancelar" class="btn btn-sm" (click)="ventana.close(false)">Cancelar</button>
</div>