p { font-size: x-small; text-align: center; }

td { padding-top: 10px; text-align: center; }

hr { background-color: black; }

.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; }

#editarI { color:green; cursor: pointer; }

#editarF { color:green; cursor: pointer; text-align: center; margin-left: 15px; }

#datosF { font-weight: bold; font-size: 16px; padding-right: 5px; }

