<div class="container" style="padding-top: 20px; padding-bottom: 15px;">
    <div id="titulo">
        <span>{{usuario.toUpperCase()}}</span>
    </div>
</div>
<div class="container" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-md" style="padding-bottom: 20px;">
            <div id="titulo">
                <span>PLANIFICACIÓN HORARIA</span>
            </div>
            <mat-card class="mat-elevation-z8">
                <mat-card-content>
                    <div class="container" *ngFor="let h of datosPlanificacion" style="text-align: center">
                        <div class="row">
                            <div class="col-md">
                                <div class="caja1 d-flex justify-content-center">
                                    <label id="datosF">Fecha Inicio:</label>
                                    <label>{{h.fec_inicio_}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-center">
                                    <label id="datosF">Fecha Final:</label>
                                    <label>{{h.fec_final_}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions *ngFor="let h of datosPlanificacion" style="padding: auto; width: 100%;">
                    <div class="d-flex flex-wrap justify-content-center" style="margin-top: 1%; margin-bottom: 2%; width: 100%;">
                        <button mat-raised-button id="btn-raised" type="submit" [routerLink]="['/verEmpleado/',idEmpleado]" matSuffix 
                            matTooltipPosition="right"
                            matTooltip="Regresar a la ventana de Usuario." value="Regresar">
                            Regresar
                        </button>
                        <button mat-raised-button id="btn-raised" type="submit" (click)="AbrirVentanaDetalles(h)" value="Registrar detalle">
                            Registrar detalle</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md">
            <div id="titulo">
                <span>CARGAR HORARIO PLANTILLAS</span>
            </div>

            <mat-card class="mat-elevation-z9 d-flex flex-wrap justify-content-around" id="carta1">
                <div style="display: flex; padding: 3%; margin: auto;">
                    <div>
                        <form method="post" enctype="multipart/form-data" class="d-flex flex-wrap justify-content-around">
                            <input (change)="fileChangePlantilla($event)" type="file" [formControl]="archivo1Form" id="file"
                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                            <label for="file" class="btn-2" matSuffix matTooltipPosition="right"
                                matTooltip="Dar click para selecionar plantilla y cargar registros.">
                                Cargar detalles
                            </label>
                        </form>
                    </div>
                    <div>
                        <a id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right" style="height: 70px;"
                            matTooltip="Dar click para ver o descargar el documento." 
                            href="{{hipervinculo}}/plantillaD/documento/Detalle Planificacion Empleado.xlsx">
                            <span class="material-icons">cloud_download</span>
                            <br>
                            Descargar plantilla usuarios
                        </a>
                   </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<hr>
<div class="container table-responsive" style="padding-bottom: 50px;">
    <div id="resultados">DETALLES DE PLANIFICACIÓN</div>
    <mat-card class="mat-elevation-z8">
        <div class="table-responsive">
            <table class="mat-elevation-z8 table table-hover table-sm">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Fecha</th>
                        <th scope="col">Tipo de Día</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dh of datosDetalle | paginate:tamanio_pagina:numero_pagina">
                        <td>{{dh.fecha_}}</td>
                        <td *ngIf="dh.tipo_dia == 1">Libre</td>
                        <td *ngIf="dh.tipo_dia == 2">Feriado</td>
                        <td *ngIf="dh.tipo_dia == 3">Normal</td>
                        <td>{{dh.horarios}}</td>
                        <td>
                            <i *ngFor="let h of datosPlanificacion" id="editarI" (click)="AbrirVentanaEditar(dh, h)"
                                matSuffix matTooltipPosition="right" matTooltip="Modificar datos de este registro"
                                class="fas fa-edit">
                                <p>Editar</p>
                            </i>
                            <i class="far fa-trash-alt" (click)="ConfirmarDelete(dh)" style="margin-left: 4%;"
                                id="delete" matSuffix
                                matTooltipPosition="right" matTooltip="Eliminar registro">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator id="pagina" [length]="datosDetalle.length" [pageSize]="tamanio_pagina"
                [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
            </mat-paginator>
        </div>

    </mat-card>
</div>