.button { background-color: rgb(80,87,97); color: white; margin: 5px 10px 5px 10px;} 

p { font-size: x-small; }

.fas { color:green; cursor: pointer; }

tr { text-align: center; }

td { padding-top: 10px; text-align: center; }

table {width: 100%;}


