.btn {
    background-color: rgb(80, 87, 97);
    color: white;
    margin: 5px 10px 5px 10px;
}

p {
    font-size: x-small;
}

table {
    width: 100%;
    font-size: 12px;
}

td {
    padding-top: 10px;
    text-align: center;
}

/*th {
    border: rgb(193, 238, 240) 1px solid;
}*/
