.btn {
    margin-left: 15px;
    background-color: rgb(80, 87, 97);
    color: white;
}

td {
    padding-top: 10px;
    text-align: center;
}

mat-form-field {
    padding: 10px 15px 0px 15px;
}

table {
    width: 100%;
    font-size: 14px;
}

#SelectCheck {
    cursor: pointer;
    margin-left: 10px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

#plan {
    color: rgb(38, 0, 255);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

p {
    font-size: x-small;
}