<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        LISTA DE USUARIOS SELECCIONADOS</span>
</div>
<mat-dialog-content class="mat-typography">
    <div class="nota">
        <span *ngIf="usuarios.length > 1" >NOTA: Los siguientes usuarios cambiaran su acceso a la App de reloj virtual.</span>
        <span *ngIf="usuarios.length < 2" >NOTA: El siguiente usuario cambiaran su acceso a la App de reloj virtual.</span>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let e of empleados">
            <mat-icon id="i-cursor" style="color:blue;" mat-list-icon>perm_identity</mat-icon>
            <div mat-line style="font-weight: bold;">{{e.nombre}}</div>
            <div mat-line style="font-size: 12px;">
                <span style="font-weight: bold;">Acceso a reloj virtual:</span>
                {{e.app_habilita.toString() | i18nSelect: BooleanAppMap}}
            </div>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button class="btn btn-sm" mat-button mat-dialog-close>Cancelar</button>
    <button class="btn btn-sm" mat-button [mat-dialog-close]="empleados" cdkFocusInitial>Actualizar</button>
</mat-dialog-actions>