<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        CONFIGURACIÓN CORREO</span>
</div>
<form [formGroup]="formulario">
    <div class="container" style="text-align: center">
        <div class="nota">
            <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                Guardar.</span>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Correo Notificaciones</mat-label>
                    <input matInput placeholder="casapazmino@gmail.com" [formControl]="emailF">
                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                        matTooltip="Actualizar cuenta de correo electrónico principal.">
                        create</mat-icon>
                    <mat-error *ngIf="emailF.invalid">Ingresar un correo electrónico</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Servidor de Correo</mat-label>
                    <input matInput placeholder="smpt.gmail.com" [formControl]="servidorF">
                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                        matTooltip="Actualizar servidor de correo electrónico principal.">
                        create</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Puerto de Salida</mat-label>
                    <input matInput placeholder="465" [formControl]="puertoF" (keypress)="IngresarSoloNumeros($event)">
                    <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                        matTooltip="Actualizar puerto de salida de correo electrónico principal.">
                        create</mat-icon>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordF"
                        (keydown)="ValidacionContrasenia($event)">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="passwordF.invalid">Escriba contraseña</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirmar Contraseña</mat-label>
                    <input matInput [type]="hide1 ? 'password' : 'text'" [formControl]="password_confirmF"
                        (keydown)="ValidacionConfirmarContrasenia($event)">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password_confirmF.invalid">{{ObtenerErrorPasswordConfirm()}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
<div class="d-flex flex-wrap justify-content-center">
    <input type="submit" class="btn btn-sm button" [disabled]="btnDisableGuardar" value="Guardar"
        (click)="GuardarConfiguracion(formulario.value)">
    <input type="submit" class="btn btn-sm button" (click)="ventana.close({actualizar: false})" value="Salir">
</div>

<div class="pantalla-progress" *ngIf="habilitarprogress">
    <mat-progress-spinner class="progress" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>