.btn {
    margin-left: 15px;
}

#cancelar {
    background-color: rgb(80, 87, 97);
    color: white;
}

p {
    font-size: 14px;
}

#mensaje {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: red;
}