<mat-card-content>
    <div id="titulo" *ngIf="contenidoDeshabilitar">
        <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
        <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
            DESHABILITAR USUARIOS
        </span>
    </div>
    <div *ngIf="contenidoDeshabilitar">
        <p>Los siguientes usuarios serán deshabilitados del sistema.</p>
    </div>

    <div id="titulo" *ngIf="contenidoHabilitar">
        <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
        <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
            HABILITAR USUARIOS
        </span>
    </div>
    <div *ngIf="contenidoHabilitar">
        <p>Los siguientes usuario serán habilitados en el sistema.</p>
    </div>

    <div id="titulo" *ngIf="contenidoReactivar">
        <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
        <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
            REACTIVACIÓN DE USUARIOS
        </span>
    </div>
    <div *ngIf="contenidoReactivar">
        <p>Los siguientes usuarios serán reincorporados con información actualizada debido a su
            reingreso a la entidad.</p>
    </div>
    <ul *ngFor="let e of Empleados.lista">
        <li style="margin-top: -10px;">{{e.empleado}}</li>
    </ul>
</mat-card-content>

<div class="d-flex justify-content-between" style="padding-top: 20px;">
    <button class="btn btn-primary btn-sm" (click)="ConfirmarListaEmpleados()">Confirmar</button>
    <button id="cancelar" class="btn btn-sm" (click)="ventana.close(false)">Cancelar</button>
</div>