.full-width {
  width: 100%;
}

#accion {
  font-size: 16px;
}

mat-icon {
  font-size: 20px;
  margin-right: 8px;
}

.acordeon {
  margin-top: 10px;
}

.card-text {
  margin-top: -10px;
}

.mat-mini-fab {
  padding: -20px;
}

.example-spacer {
  flex: 1 1 auto;
}

.noti_menu {
  text-decoration: none;
}

mat-tree {
  background: transparent;
}

.menus {
  background-color: transparent
}

.example-tree-invisible {
  display: none;
}

.btn-sm {
  margin-left: -30px;
  width: 100%;
}

.submenu.expanded {
  transform: scaleY(1);
}

.color-icon {
  color: rgb(189, 189, 189);
}

a.mat-menu-item {
  width: 210%;
  height: 100%;
}

#iconos-navegador {
  color: rgb(232, 238, 243);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

mat-expansion-panel-header {
  background: transparent;
}

.mat-list-item:hover {
  background: rgb(26, 115, 199);
}

.mat-tree-node {
  margin-bottom: -17px;
  margin-top: -17px;
}

.header-expand {
  background-color: rgb(255, 255, 255);
}

.divider {
  margin-top: -9%;
  margin-left: -25%;
  width: 150%;
}

.item-menu {
  font-size: 17px;
  color: rgb(189, 189, 189);
}

.sidenav {
  background: rgb(255, 255, 255);
  width: 250px;
}

a.mat-list-item.texcol:active {
  background: rgb(26, 115, 199);
}

#avatarImagen {
  border-radius: 100%;
  height: 35px;
  width: 35px;
}

.texcol {
  text-align: left;
  font-size: 14px;
  color: aliceblue;
}

#icono-menu {
  margin: 8px 0px 0px 0px;
  color: rgb(5, 162, 253);
}

.dos {
  background: transparent;
  text-align: left;
  margin-top: 10px;
}

.uno {
  margin-bottom: 15px;
  background: white;
  text-align: center;
}

.mostrar-noti {
  text-decoration: none;
  padding-top: 5px;
  color: #000;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

#icono-despliega {
  margin: 8px 0px 0px 10px;
  color: rgb(5, 162, 253);
}

.sidenav-container {
  background-color: rgb(255, 255, 255);
  height: 100%;
}

.mat-toolbar.mat-toolbar-multiple-rows {
  background: rgb(255, 255, 255);
}

.btn:focus,
.btn-sm:focus .btn-block:focus {
  box-shadow: none;
  outline: none;
}

#logo {
  margin-bottom: 10px;
  background: white;
  margin-top: 10px;
  width: 52%;
}

.name-uno {
  font-size: 15px;
  margin: 10px 0px 0px 10px;
  color: rgb(40, 40, 40);
}

.iniciales {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  color: white;
}

.example-tree ul,
.example-tree li {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
}

#botones {
  background-color: rgb(5, 162, 253);
  margin: 10px 10px 10px 10px;
  color: white;
}

.mat-expansion-panel-header.mat-expanded.selec10:hover {
  background: rgba(112, 11, 228, 0.739);
}

.mostrar-noti:hover {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(31, 31, 31);
}

.mensaje-alerta {
  background-color: rgb(110, 1, 1);
  border-radius: 25px;
  text-align: center;
  margin: 15px;
}

a.mat-menu-item.noti_menu:hover {
  background: rgba(236, 236, 236, 0.643);
  color: rgba(17, 113, 192, 0.952);
}

.mat-expansion-panel-header.mat-expanded.selec10:focus {
  border-radius: 25px;
  background: rgba(112, 11, 228, 0.739);
}

#avatar {
  background-color: rgb(126, 126, 126);
  border-radius: 100%;
  margin-left: 10px;
  height: 35px;
  width: 35px;
}

.material-tree-node {
  border-left: 3px solid rgb(5, 162, 253);
  margin-left: 20px;
  background: transparent;
  width: 100%;
}

.mat-card-avatar {
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  margin-top: auto;
  height: 40px;
  width: 40px;
}

.submenu {
  transform-origin: top;
  padding-left: 30px;
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
}

.degradado {
  background: rgb(232, 232, 232);
  background: radial-gradient(circle, rgba(232, 232, 232, 0.8883928571428571) 0%, rgba(249, 249, 249, 1) 100%);
}

.active {
  border-radius: 25px;
  margin-left: -30px;
  background: rgba(226, 226, 226, 0.739);
  box-shadow: none;
  outline: none;
  color: rgb(255, 255, 255);
  width: 100%;
}