<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        MODIFICAR NIVEL TÍTULO PROFESIONAL</span>
</div>
<form [formGroup]="nuevoNivelTituloForm">
    <div class="container" style="text-align: center;">
        <div class="nota">
            <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                Guardar.</span>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field>
                <mat-label>Nuevo Nivel de Título</mat-label>
                <input matInput placeholder="Ej: Ingenieria en Software" [formControl]="nombre"
                    (keypress)="IngresarSoloLetras($event)" required>
                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                    matTooltip="Ingresar nombre del nievel de un título profesional">
                    help_outline</mat-icon>
                <mat-error *ngIf="nombre.invalid">{{ObtenerMensajeErrorNombre()}}</mat-error>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="d-flex flex-wrap justify-content-center">
    <input type="submit" class="btn btn-sm button" (click)="InsertarNivelTitulo(nuevoNivelTituloForm.value)"
        [disabled]="!nuevoNivelTituloForm.valid" value="Guardar">
    <input type="submit" class="btn btn-sm button" (click)="Salir()" value="Salir">
</div>