<div class="d-flex bd-highlight" id="titulo">
    <mat-icon class="flex-shrink-1 bd-highlight align-self-center" id="movilidad">open_with</mat-icon>
    <h5 class="w-100 bd-highlight align-self-center" cdkDrag cdkDragRootElement=".cdk-overlay-pane">REGISTRAR
        COORDENADAS
    </h5>
</div>
<form [formGroup]="CoordenadasForm">
    <div style="text-align: center">
        <div class="nota">
            <span>NOTA: Registrar Coordenadas de Ubicación.</span>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <input matInput [formControl]="descripcion" required>
                <mat-icon matSuffix matTooltipPosition="right" matTooltip="Ingresar una descripción.">
                    help_outline</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Latitud</mat-label>
                <input matInput [formControl]="latitud" required>
                <mat-icon matSuffix matTooltipPosition="right" matTooltip="Ingresar coordenada de latitud.">
                    help_outline</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Longitud</mat-label>
                <input matInput [formControl]="longitud" required>
                <mat-icon matSuffix matTooltipPosition="right" matTooltip="Ingresar coordenada de longitud.">
                    help_outline</mat-icon>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="d-flex flex-wrap justify-content-center">
    <input type="submit" class="btn btn-sm" (click)="TomarCoordenadasMapa()" value="Mapa">
    <input type="submit" class="btn btn-sm" [disabled]=" !CoordenadasForm.valid"
        (click)="VerificarDatos(CoordenadasForm.value)" value="Guardar">
    <input type="submit" class="btn btn-sm" (click)="CerrarVentana()" value="Cancelar">
</div>
