<mat-card-content>
    <div style="text-align: center;">
        <p *ngIf="usuarios.length > 1">Los dispositivos seleccionados se eliminaran. <br>
            <b>Los usuarios no podrán realizar marcaciones desde estos dispositivos.</b>
        </p>
        <p *ngIf="usuarios.length < 2">Se eliminara el dispositivo seleccionado. <br>
            <b>El usuario no podrán realizar marcaciones desde este dispositivo.</b>
        </p>
        <p id="mensaje" *ngIf="usuarios.length > 1">¿ESTÁ SEGURO DE ELIMINAR ESTOS REGISTROS?</p>
        <p id="mensaje" *ngIf="usuarios.length < 2">¿ESTÁ SEGURO DE ELIMINAR ESTE REGISTRO?</p>
    </div>
</mat-card-content>
<mat-dialog-content class="mat-typography" *ngIf="usuarios.length < 2">
    <mat-list>
        <mat-list-item *ngFor="let d of dispositivos">
            <mat-icon id="i-cursor" style="color:blue;" mat-list-icon>perm_identity</mat-icon>
            <div mat-line style="font-weight: bold;">{{d.nombre}}</div>
            <div mat-line style="font-size: 12px;">
                <span style="font-weight: bold;">Dispositivo: {{d.modelo_dispositivo}} </span>
                <br>
                <span style="font-weight: bold;">ID dispositivo: {{d.id_dispositivo}}</span>
            </div>
        </mat-list-item>
    </mat-list>
    <br>
</mat-dialog-content>

<div style="text-align: center; padding-top: 10px;">
    <button class="btn-sm btn-primary float-left" [mat-dialog-close]="dispositivos">Eliminar</button>
    <button class="btn btn-sm float-right" mat-dialog-close>Cancelar</button>
</div>