<div id="resultados">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane" id="mover">
        NIVEL DE SEGURIDAD
    </span>
    <mat-icon class="float-right" id="cerrar" (click)="CerrarVentana()">highlight_off</mat-icon>
</div>
<div class="container">
    <form [formGroup]="formulario">
        <div class="d-flex flex-wrap justify-content-start" style="padding-top: 20px;">
            <mat-radio-group aria-label="Select an option" [formControl]="tipoF" required>
                <div class="d-flex flex-wrap justify-content-start" style="position: relative; left: 15px;">
                    <mat-radio-button value="contrasena">
                        Usar Contraseña
                    </mat-radio-button>
                </div>
                <div class="d-flex flex-wrap justify-content-start" style="position: relative; left: 15px;">
                    <mat-radio-button value="frase">Usar Frase
                    </mat-radio-button>
                </div>
                <div class="d-flex flex-wrap justify-content-start" style="position: relative; left: 15px;">
                    <mat-radio-button value="ninguna">
                        Ninguna
                    </mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
    </form>
    <div class="d-flex flex-wrap justify-content-center" style="padding-top: 20px; margin-bottom: 2%;">
        <button mat-raised-button id="btn-raised" type="submit" [disabled]="!formulario.valid" value="Guardar"
            (click)="InsertarEmpresa(formulario.value)">Guardar</button>
        <!--button mat-raised-button id="btn-raised" type="submit" (click)="CerrarVentana()" value="Salir">Salir</button-->
    </div>
</div>
<div class="pantalla-progress" *ngIf="habilitarprogress">
    <mat-progress-spinner class="progress" [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>