.btn { margin-left: 15px; background-color: rgb(80,87,97); color: white; } 

td { padding-top: 10px; text-align: center; }

p { font-size: x-small; }

.far { color:red; cursor: pointer; }

table { width: 100%; font-size: 14px;}

