<div class="container" style="padding-top: 15px; padding-bottom: 25px;">
    <div class="row">
        <div class="col-md" style="padding-bottom: 10px;">
            <mat-card class="mat-elevation-z8" style="padding-bottom: 5px;">
                <div id="titulo">
                    <div class="container">
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <h5>INFORMACIÓN DE HORA EXTRA</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>
                    <div class="container" style="padding-top: 15px;" *ngFor="let h of hora_extra">
                        <div class="row">
                            <div class="col">
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Empleado:</label>
                                    <label>{{h.nombre.split(" ")[0]}}
                                        {{h.apellido.split(" ")[0]}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Cargo:</label>
                                    <label>{{h.cargo}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Descripción:</label>
                                    <label>{{h.descripcion}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Número de Horas:</label>
                                    <label>{{h.num_hora}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Fecha Solicitud:</label>
                                    <label>{{h.fec_solicita.split("T")[0]}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Fecha Inicio:</label>
                                    <label>{{h.fec_inicio.split("T")[0]}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Fecha Final:</label>
                                    <label>{{h.fec_final.split("T")[0]}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Fecha Final:</label>
                                    <label>{{h.fec_final.split("T")[0]}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col" style="text-align: right;">
                            <i id="iconos" *ngIf="HabilitarAutorizacion" class="fas fa-stopwatch"
                                style="color:rgb(58, 90, 231);" (click)="AbrirAprobacion(h, '', 1)"
                                matTooltipPosition="right"
                                matTooltip="Agrega más tipos de permisos de este departamento.">
                                <p>Autorización</p>
                            </i>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md">
            <mat-card class="mat-elevation-z8" style="padding-bottom: 5px;">
                <div id="titulo">
                    <div class="container">
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <h5>INFORMACIÓN DE LA AUTORIZACIÓN</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card-content>

                    <div class="container" style="padding-top: 15px;" *ngFor="let a of autorizacion">
                        <div *ngIf="habilitarActualizar">
                            <div class="d-flex flex-wrap justify-content-around" *ngFor="let h of hora_extra">
                                <button mat-button type="button" class="btn btn-sm"
                                    (click)="AbrirAprobacion(h, 'aprobar', a)">
                                    <i id="iconos" class="fa fa-edit"></i>
                                    Aprobar
                                </button>
                                <button mat-button type="button" class="btn btn-sm"
                                    (click)="AbrirAprobacion(h, 'editar', a)">
                                    <i id="iconos" class="far fa-clock"></i>
                                    Actualizar Horas
                                </button>
                                <button mat-button type="submit" class="btn btn-sm"
                                    (click)="AbrirAprobacion(h, 'observacion', a)" matSuffix matTooltipPosition="right"
                                    matTooltip="Limpiar campos de búsqueda de la tabla y mostrar todos los datos.">
                                    <i id="iconos" class="far fa-comment"></i>
                                    Enviar Observación
                                </button>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Código autorización:</label>
                                    <label>{{a.id}}</label>
                                </div>
                                <div *ngFor="let ea of empleado_estado">
                                    <div class="row">
                                        <div class="col">
                                            <div class="caja1 d-flex justify-content-start">
                                                <label id="datosF">Colaborador:</label>
                                                <label>{{ea.nombre}}</label>
                                            </div>
                                            <div class="caja1 d-flex justify-content-start">
                                                <label id="datosF">Estado:</label>
                                                <label>{{ea.estado}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Departamento:</label>
                                    <label>{{departamento}}</label>
                                </div>
                                <div class="caja1 d-flex justify-content-start">
                                    <label id="datosF">Solicitud de Hora Extra:</label>
                                    <label>
                                        <a id="iconos" (click)="GenerarPdf('download')" matSuffix
                                            matTooltipPosition="right"
                                            matTooltip="Descargar Solicitud de Permiso en formato PDF">
                                            <label
                                                style="font-size: 14px; color: red; font-weight: bold;">Solicitud.pdf</label>
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>