<div class="container" *ngFor="let c of coordenadas" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div id="titulo">
            <span>DATOS GENERALES</span>
        </div>
        <mat-card-content>
            <div class="container" style="padding-top: 15px;">
                <div class="row">
                    <br>
                    <div class="col-12">
                        <label id="datosF" class="col-form-label">Descripción:</label>
                        <label class="col-form-label">{{c.descripcion}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label id="datosF" class="col-form-label">Latitud:</label>
                        <label class="col-form-label">{{c.latitud}}</label>
                    </div>
                    <div class="col-6">
                        <label id="datosF" class="col-form-label">Longitud:</label>
                        <label class="col-form-label">{{c.longitud}}</label>
                    </div>
                </div>
                <div style="text-align: right;">
                    <i id="editarF" (click)="AbrirVentanaEditar(c)" matSuffix matTooltipPosition="right"
                        matTooltip="Modificar datos de este registro." class="fas fa-edit">
                        <p>Editar</p>
                    </i>
                </div>
                <div style="text-align: right;">
                    <input type="submit" class="btn btn-sm" (click)="AbrirVentanaBusqueda()" value="Asignar Usuario">
                    <input type="submit" class="btn btn-sm" [routerLink]="['/coordenadas/']" value="Atras">
                </div>
            </div>
            <hr>
            <div style="padding-bottom: 10px; text-align: center;">
                <div class="mat-elevation-z8" style="background: white;">

                    <div class="d-flex bd-highlight" id="titulo">
                        <mat-icon class="flex-shrink-1 bd-highlight" matSuffix matTooltipPosition="right"
                            matTooltip="Eliminar de la lista usuarios seleccionados." id="SelectCheck"
                            (click)="HabilitarSeleccion()">
                            library_add_check</mat-icon>
                        <button *ngIf="btnCheckHabilitar" class="btn btn-primary"
                            style="float: left; margin-left: 10px;" (click)="ConfirmarDeleteVarios()">Remover</button>
                        <span class="w-100 bd-highlight">
                            USUARIOS ASIGNADOS EN {{c.descripcion.toUpperCase()}}</span>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th>
                                        <mat-checkbox *ngIf="btnCheckHabilitar"
                                            (change)="$event ? masterToggle() : null"
                                            [checked]="selectionUno.hasValue() && isAllSelected()"
                                            [indeterminate]="selectionUno.hasValue() && !isAllSelected()"
                                            [aria-label]="checkboxLabel()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dp of datosUsuarios | paginate:tamanio_pagina:numero_pagina">
                                    <td>
                                        <mat-checkbox *ngIf="btnCheckHabilitar" (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionUno.toggle(dp) : null"
                                            [checked]="selectionUno.isSelected(dp)" [aria-label]="checkboxLabel(dp)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{dp.codigo}}</td>
                                    <td>{{dp.nombre}}</td>
                                    <td>{{dp.apellido}}</td>
                                    <td>
                                        <i *ngIf="auto_individual" matSuffix matTooltipPosition="right"
                                            matTooltip="Eliminar registro." class="far fa-trash-alt"
                                            (click)="ConfirmarDelete(dp)" id="t-eliminar">
                                            <p>Eliminar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator id="pagina" [length]="datosUsuarios.length" [pageSize]="tamanio_pagina"
                        [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </mat-card-content>


        <mat-card-content *ngIf="asignar">
            <hr>

            <div id="titulo">
                <span>CRÍTERIOS DE BÚSQUEDA</span>
            </div>

            <br>

            <form [formGroup]="">
                <mat-radio-group class="d-flex flex-wrap justify-content-center" [formControl]="seleccion">
                    <mat-radio-button class="example-radio-button" *ngFor="let c of check" [value]="c.opcion"
                        (change)="BuscarPorTipo($event)">{{c.valor}}</mat-radio-button>
                </mat-radio-group>
            </form>
            <!-- Form para SUCURSALES -->
            <form [formGroup]="" *ngIf="_booleanOptions.bool_suc">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Sucursal</mat-label>
                        <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreSuc_"
                            (input)="Filtrar(filtroNombreSuc_, 1)" [formControl]="nombre_suc" type="text"
                            (keypress)="IngresarSoloLetras($event)">
                        <mat-error *ngIf="nombre_suc.invalid">Indispensable ingresar dos letras
                        </mat-error>
                        <mat-icon matSuffix matTooltipPosition="right" matTooltip="Búsqueda de sucursales por nombre.">
                            help_outline</mat-icon>
                    </mat-form-field>
                </div>
            </form>
            <!-- Form para DEPARTAMENTOS -->
            <form [formGroup]="" *ngIf="_booleanOptions.bool_dep">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Departamento</mat-label>
                        <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreDep_"
                            (input)="Filtrar(filtroNombreDep_, 2)" [formControl]="nombre_dep" type="text"
                            (keypress)="IngresarSoloLetras($event)">
                        <mat-error *ngIf="nombre_dep.invalid">Indispensable ingresar dos letras
                        </mat-error>
                        <mat-icon matSuffix matTooltipPosition="right"
                            matTooltip="Búsqueda de departamentos por nombre.">
                            help_outline</mat-icon>
                    </mat-form-field>
                </div>
            </form>
            <!-- Form para EMPLEADOS -->
            <form [formGroup]="" *ngIf="_booleanOptions.bool_emp">
                <div class="d-flex flex-wrap justify-content-center">
                    <mat-form-field>
                        <mat-label>Código</mat-label>
                        <input matInput placeholder="Buscar" [(ngModel)]="filtroCodigo_"
                            (input)="Filtrar(filtroCodigo_, 3)" [formControl]="codigo"
                            (keypress)="IngresarSoloNumeros($event)">
                        <mat-icon matSuffix matTooltipPosition="right"
                            matTooltip="Búsqueda de datos de empleado por código.">
                            help_outline</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>CI o pasaporte</mat-label>
                        <input matInput placeholder="Buscar" [(ngModel)]="filtroCedula_" maxlength="10"
                            (input)="Filtrar(filtroCedula_, 4)"
                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            [formControl]="cedula" type="text" (keypress)="IngresarSoloNumeros($event)">
                        <mat-error *ngIf="cedula.invalid">Indispensable ingresar dos valores
                        </mat-error>
                        <mat-icon matSuffix matTooltipPosition="right"
                            matTooltip="Búsqueda de datos de empleado por cédula de identificación o pasaporte.">
                            help_outline</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Nombres</mat-label>
                        <input matInput placeholder="Buscar" [(ngModel)]="filtroNombreEmp_"
                            (input)="Filtrar(filtroNombreEmp_, 5)" [formControl]="nombre_emp" type="text"
                            (keypress)="IngresarSoloLetras($event)">
                        <mat-error *ngIf="nombre_emp.invalid">Indispensable ingresar dos letras
                        </mat-error>
                        <mat-icon matSuffix matTooltipPosition="right"
                            matTooltip="Búsqueda de datos de empleado por nombre.">
                            help_outline</mat-icon>
                    </mat-form-field>
                </div>
            </form>
            <div class="d-flex justify-content-around">
                <input type="submit" class="btn btn-sm" (click)="GuardarRegistros()" value="Guardar Registro">
                <button mat-button type="submit" class="btn btn-sm" id="boton"
                    (click)="limpiarCampos()">Cancelar</button>
            </div>


            <hr>
            <!-- TABLA PARA SUCURSALES -->
            <div *ngIf="_booleanOptions.bool_suc" class="mat-elevation-z8" style="background: white;">
                <div id="titulo">RESULTADO SUCURSALES</div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th>
                                    <mat-checkbox (change)="$event ? masterToggleSuc() : null"
                                        [checked]="selectionSuc.hasValue() && isAllSelectedSuc()"
                                        [indeterminate]="selectionSuc.hasValue() && !isAllSelectedSuc()"
                                        [aria-label]="checkboxLabelSuc()">
                                    </mat-checkbox>
                                </th>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let s of sucursales | emplNombre: filtroNombreSuc | paginate:tamanio_pagina_suc:numero_pagina_suc">
                                <td>
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionSuc.toggle(s) : null"
                                        [checked]="selectionSuc.isSelected(s)" [aria-label]="checkboxLabelSuc(s)">
                                    </mat-checkbox>
                                </td>
                                <td>{{s.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="sucursales.length" [pageSize]="tamanio_pagina_suc"
                    [pageSizeOptions]="pageSizeOptions_suc" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
            </div>
            <!-- TABLA PARA DEPARTAMENTOS -->
            <div *ngIf="_booleanOptions.bool_dep" class="mat-elevation-z8" style="background: white;">
                <div id="titulo">RESULTADO DEPARTAMENTOS</div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th>
                                    <mat-checkbox (change)="$event ? masterToggleDep() : null"
                                        [checked]="selectionDep.hasValue() && isAllSelectedDep()"
                                        [indeterminate]="selectionDep.hasValue() && !isAllSelectedDep()"
                                        [aria-label]="checkboxLabelDep()">
                                    </mat-checkbox>
                                </th>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let d of departamentos | emplNombre: filtroNombreDep | paginate:tamanio_pagina_dep:numero_pagina_dep">
                                <td>
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionDep.toggle(d) : null"
                                        [checked]="selectionDep.isSelected(d)" [aria-label]="checkboxLabelDep(d)">
                                    </mat-checkbox>
                                </td>
                                <td>{{d.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="departamentos.length" [pageSize]="tamanio_pagina_dep"
                    [pageSizeOptions]="pageSizeOptions_dep" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
            </div>
            <!-- TABLA PARA EMPLEADOS -->
            <div *ngIf="_booleanOptions.bool_emp" class="mat-elevation-z8" style="background: white;">
                <div id="titulo">RESULTADO EMPLEADOS</div>
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                            <tr style="text-align: center;">
                                <th>
                                    <mat-checkbox (change)="$event ? masterToggleEmp() : null"
                                        [checked]="selectionEmp.hasValue() && isAllSelectedEmp()"
                                        [indeterminate]="selectionEmp.hasValue() && !isAllSelectedEmp()"
                                        [aria-label]="checkboxLabelEmp()">
                                    </mat-checkbox>
                                </th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Cédula</th>
                                <th scope="col">Codigo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let e of empleados | emplCodigo: filtroCodigo | emplCedula: filtroCedula | emplNombre: filtroNombreEmp | paginate:tamanio_pagina_emp:numero_pagina_emp">
                                <td>
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selectionEmp.toggle(e) : null"
                                        [checked]="selectionEmp.isSelected(e)" [aria-label]="checkboxLabelEmp(e)">
                                    </mat-checkbox>
                                </td>
                                <td>{{e.nombre}}</td>
                                <td>{{e.cedula}}</td>
                                <td>{{e.codigo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator id="pagina" [length]="empleados.length" [pageSize]="tamanio_pagina_emp"
                    [pageSizeOptions]="pageSizeOptions_emp" (page)="ManejarPaginaResultados($event)"
                    showFirstLastButtons>
                </mat-paginator>
            </div>

        </mat-card-content>
    </mat-card>
</div>