<div class="container" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div id="titulo">
            <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
            <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
                REGISTRAR RÉGIMEN LABORAL</span>
        </div>
        <!-- Formulario Completo -->
        <form [formGroup]="formulario">
            <div class="container" style="text-align: center">
                <div class="nota">
                    <span>NOTA: Por favor llenar todos los campos obligatorios (*) del formulario para activar el botón
                        Guardar.</span>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-start">
                            <mat-form-field>
                                <mat-label id="letras">Nombre</mat-label>
                                <input matInput [formControl]="nombreF" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Ingresar un nuevo nombre de Régimen Laboral">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="letras">Meses Período</mat-label>
                                <input matInput [formControl]="mesesF" (keypress)="IngresarSoloNumeros($event)"
                                    required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Indicar el número de meses de duración del período">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="letras">Días totales mes</mat-label>
                                <input matInput [formControl]="totalMesF" (keypress)="IngresarSoloNumeros($event)"
                                    required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Indicar el número de años que deben pasar para considerar antiguedad de un empleado">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="letras">Días totales periodo</mat-label>
                                <input matInput [formControl]="totalPeriodoF" (keypress)="IngresarSoloNumeros($event)"
                                    (click)="LimpiarMeses()" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Indicar cuantos días de vacación se concederan al empleado al cumplir un año de servicio">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="letras">Máximo de días acumulables</mat-label>
                                <input matInput [formControl]="diasAcumulacionF" required
                                    (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Número de días máximos de vacaciones que un empleado podrá acumular durante el tiempo que establesca la empresa">
                                    help_outline</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex flex-wrap justify-content-start">
                            <mat-form-field>
                                <mat-label id="letras">Años considerados antiguedad</mat-label>
                                <input matInput [formControl]="aniosAntiguedadF"
                                    (keypress)="IngresarSoloNumeros($event)" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Indicar el número de años que deben pasar para considerar antiguedad de un empleado">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="letras">Días incremento antiguedad</mat-label>
                                <input matInput [formControl]="diasAdicionalesF" required
                                    (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Número de días que se incrementarán a los días de vacaciones que se le concederan al empleado al cumplir los años indicados de antiguedad">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="letra_">Vacación: Días laborables por periodo</mat-label>
                                <input matInput [formControl]="diasLaborablesF" (keypress)="IngresarSoloNumeros($event)"
                                    (click)="LimpiarMeses()" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Indicar cuantos días de vacación se concederan al empleado al cumplir un año de servicio">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="letras">Vacación: Días libres</mat-label>
                                <input matInput [formControl]="diasLibresF" (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Indicar cuantos días de fin de semana serán considerado dentro de los días de vacaciones que se le conceden a un empleado">
                                    help_outline</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md">

                        <div class="d-flex flex-wrap justify-content-start">
                            <!--[formControl]="tipoF" [(ngModel)]="nocturno"-->
                            <mat-checkbox id="check" matSuffix matTooltipPosition="right"
                                matTooltip="Dar click para realizar cálculo y completar todos los datos.">Realizar
                                cálculos
                            </mat-checkbox>
                            <mat-form-field>
                                <mat-label id="letra_">Vacación: Días calendario por periodo</mat-label>
                                <input matInput [formControl]="diasCalendarioF" (keypress)="IngresarSoloNumeros($event)"
                                    (click)="LimpiarMeses()" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Indicar cuantos días de vacación se concederan al empleado al cumplir un año de servicio">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="letras_">Vacación: Días laborables por mes</mat-label>
                                <input matInput [formControl]="diasMesLaborableF"
                                    (keypress)="IngresarSoloNumeros($event)">
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Indicar cuantos días de fin de semana serán considerado dentro de los días de vacaciones que se le conceden a un empleado">
                                    help_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label id="letras_">Vacación: Días calendario por mes</mat-label>
                                <input matInput [formControl]="diasMesCalendarioF"
                                    (keypress)="IngresarSoloNumeros($event)" (click)="LimpiarMeses()" required>
                                <mat-icon id="i-cursor" matSuffix matTooltipPosition="right"
                                    matTooltip="Indicar cuantos días de vacación se concederan al empleado al cumplir un año de servicio">
                                    help_outline</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="d-flex flex-wrap justify-content-center">
            <input type="submit" class="btn btn-sm button" [disabled]="!formulario.valid"
                (click)="InsertarRegimen(formulario.value)" value="Guardar">
            <input type="submit" class="btn btn-sm button" (click)="CerrarVentana()" value="Cancelar">
        </div>
    </mat-card>
</div>