<div class="container" style="padding-top: 15px; padding-bottom: 25px; padding-top: 20px;">
    <div class="row">
        <div class="col-md">
            <div id="titulo">
                <h5>ASIGNACIÓN DE HORARIO LABORAL</h5>
            </div>
            <mat-card class="example-card mat-elevation-z9" id="carta1">
                <div class="d-flex flex-wrap justify-content-around" style="margin-right: 5%;">
                    <form method="post" enctype="multipart/form-data">
                        <input (change)="FileChangeHorario($event)" type="file" [formControl]="archivoHorarioForm"
                            id="file"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        <label for="file" class="btn-2" matSuffix matTooltipPosition="right"
                            matTooltip="Presionar para cargar plantilla con nombre Horario Empleado">Subir
                            horario</label>
                    </form>
                    <a mat-button type="submit" id="descargar" class="btn btn-sm" matSuffix matTooltipPosition="right"
                        matTooltip="Dar click para ver o descargar el documento"
                        href="{{hipervinculo}}/plantillaD/documento/Horario Empleado.xlsx">
                        <span class="material-icons">cloud_download</span> Descargar plantilla horario
                        usuarios
                    </a>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 50px; text-align: center;">
    <div class="mat-elevation-z8" style="background: white;">
        <div class="d-flex bd-highlight" id="titulo">
            <span class="w-100 bd-highlight">
                LISTA DE HORARIOS DEL USUARIO</span>
            <button class="btn btn-outline-light btn-sm" style="float: right; margin-right: 10px;"
                (click)="AbrirVentanaEmplHorario()">Añadir</button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-sm ">
                <thead class="thead-light">
                    <tr style="text-align: center;">
                        <th scope="col">Horario</th>
                        <th scope="col">Inicio</th>
                        <th scope="col">Final</th>
                        <th scope="col">Lu</th>
                        <th scope="col">Mar</th>
                        <th scope="col">Mi</th>
                        <th scope="col">Ju</th>
                        <th scope="col">Vi</th>
                        <th scope="col">Sa</th>
                        <th scope="col">Do</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let h of horariosEmpleado | paginate:tamanio_pagina:numero_pagina">
                        <td>{{h.nom_horario}}</td>
                        <td>{{h.fec_inicio_.split("T")[0]}}</td>
                        <td>{{h.fec_final_.split("T")[0]}}</td>
                        <td *ngIf="h.lunes == true">Libre</td>
                        <td *ngIf="h.lunes == false">Normal</td>
                        <td *ngIf="h.martes == true">Libre</td>
                        <td *ngIf="h.martes == false">Normal</td>
                        <td *ngIf="h.miercoles == true">Libre</td>
                        <td *ngIf="h.miercoles == false">Normal</td>
                        <td *ngIf="h.jueves == true">Libre</td>
                        <td *ngIf="h.jueves == false">Normal</td>
                        <td *ngIf="h.viernes == true">Libre</td>
                        <td *ngIf="h.viernes == false">Normal</td>
                        <td *ngIf="h.sabado == true">Libre</td>
                        <td *ngIf="h.sabado == false">Normal</td>
                        <td *ngIf="h.domingo == true">Libre</td>
                        <td *ngIf="h.domingo == false">Normal</td>
                        <td class="d-flex justify-content-center">
                            <i class="fas fa-edit" id="edit" (click)="AbrirEditarHorario(h)" matSuffix
                                matTooltipPosition="right" matTooltip="Modificar los datos generales de este registro">
                                <p>Editar</p>
                            </i>
                            <i class="far fa-trash-alt" (click)="ConfirmarDeleteHorario(h)"
                                style="color:red; margin-left: 15px;" id="i-cursor" matSuffix
                                matTooltipPosition="right" matTooltip="Eliminar registro">
                                <p>Eliminar</p>
                            </i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <mat-paginator id="pagina" [length]="horariosEmpleado.length" [pageSize]="tamanio_pagina"
            [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>