<span mat-button class="material-icons" (click)="ventana.close({actualizar: false})"
    style="float: right; margin: -15px -15px 0px 0px; color: red; cursor: pointer;">
    highlight_off
</span>
<div class="row">
    <div class="col-md">
        <div class="d-flex flex-wrap justify-content-center">
            <figure>
                <div *ngIf="imagen_default; else logoEmpresa">
                    <img src="../../../../../assets/imagenes/photo.png" alt="logo_default" srcset="" width="75%"
                        height="75%">
                </div>
            </figure>
            <ng-template #logoEmpresa>
                <img src="{{logo}}" alt="logo" srcset="" width="50%" height="50%">
            </ng-template>
        </div>
    </div>
</div>


