mat-form-field.input-tables {
    background: transparent;
    font-size: 14px;
    text-align: center;
    outline: none;
    fill: none;
    height: 65px;
}

.codigo { width: 70px; }
.cedula { width: 100px; }

mat-expansion-panel-header { text-align: center; background: rgb(52,65,84); }

mat-panel-title { color: white; }

mat-panel-description { color: white; }

#SelectCheck {
    cursor: pointer;
    margin-left: 10px;
}

p {
    font-size: x-small;
}