p {
    text-align: center;
    font-size: x-small;
}

td {
    padding-top: 10px;
    text-align: center;
}

#editarI {
    cursor: pointer;
    color: green;
}

.btn {
    background-color: rgb(80, 87, 97);
    margin-left: 15px;
    color: white;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 20px;
}

mat-radio-group {
    margin-bottom: 10px;
    padding: 20px 20px 20px 20x;
}

