<div class="container" *ngFor="let tp of parametros" style="padding-top: 15px;">
    <mat-card class="example-card mat-elevation-z8">
        <div id="titulo">
            <span>DATOS GENERALES</span>
        </div>
        <mat-card-content>
            <div class="container" style="padding-top: 15px;">
                <div class="row">
                    <br>
                    <div class="col-6">
                        <label id="datosF" class="col-form-label">Descripción:</label>
                        <label class="col-form-label">{{tp.descripcion}}</label>
                    </div>
                </div>
                <div style="text-align: right;">
                    <i id="editarF" (click)="AbrirVentanaEditar(tp)" matSuffix matTooltipPosition="right"
                        matTooltip="Modificar datos de este registro." class="fas fa-edit">
                        <p>Editar</p>
                    </i>
                </div>
            </div>
            <hr>
            <div class="container" style="padding-bottom: 20px; text-align: center;" *ngIf="!formato">
                <div class="nota">
                    <span>NOTA: Seleccionar el tipo de formato de fecha con el cual se va a trabajar en el
                        sistema.</span>
                </div>
                <div class="d-flex flex-wrap justify-content-around" style="padding-top: 10px;">
                    <div class="d-flex flex-wrap justify-content-around" style="padding-bottom: 10px;">
                        <button mat-button type="button" class="btn btn-sm" style="font-size: 12px;"
                            (click)="GuardarDatos(1)">
                            Formato americano: DD/MM/YYYY
                        </button>
                    </div>
                    <div class="d-flex flex-wrap justify-content-around" style="padding-bottom: 10px;">
                        <button mat-button type="button" class="btn btn-sm" style="font-size: 12px;"
                            (click)="GuardarDatos(2)">
                            Formato inglés: MM/DD/YYYY
                        </button>
                    </div>
                    <div class="d-flex flex-wrap justify-content-around" style="padding-bottom: 10px;">
                        <button mat-button type="button" class="btn btn-sm" style="font-size: 12px;"
                            (click)="GuardarDatos(3)">
                            Formato estandar: YYYY-MM-DD
                        </button>
                    </div>
                </div>
            </div>
            <div class="container" style="padding-bottom: 50px; text-align: center;">
                <div class="mat-elevation-z8" style="background: white;">
                    <div id="resultados">DETALLES DE PARÁMETRO GENERAL</div>
                    <div class="table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                                <tr style="text-align: center;">
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dp of datosDetalle | paginate:tamanio_pagina:numero_pagina">
                                    <td>{{dp.descripcion}}</td>
                                    <td>
                                        <i *ngIf="formato" id="editarI" (click)="AbrirVentanaEditarDetalle(dp)"
                                            matSuffix matTooltipPosition="right"
                                            matTooltip="Modificar datos de este registro." class="fas fa-edit">
                                            <p>Editar</p>
                                        </i>
                                        <i matSuffix matTooltipPosition="right" matTooltip="Eliminar registro."
                                            class="far fa-trash-alt" (click)="ConfirmarDelete(dp)" id="t-eliminar">
                                            <p>Eliminar</p>
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <mat-paginator id="pagina" [length]="datosDetalle.length" [pageSize]="tamanio_pagina"
                        [pageSizeOptions]="pageSizeOptions" id="pagina" (page)="ManejarPagina($event)"
                        showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
            <input type="submit" class="btn btn-sm" [routerLink]="['/parametros/']" value="Lista parámetros generales">
            <input *ngIf="formato" type="submit" class="btn btn-sm" (click)="AbrirVentanaDetalles(tp)"
                value="Registrar detalle">
        </mat-card-content>
    </mat-card>
</div>