<div id="titulo">
    <mat-icon id="movilidad" class="float-left">open_with</mat-icon>
    <span cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        CARGAR DOCUMENTO
    </span>
</div>
<br>
<div class="d-flex flex-wrap justify-content-center" style="text-align: center;">
    <form method="post" enctype="multipart/form-data">
        <input (change)="fileChange($event)" type="file" [formControl]="archivoForm" id="file">
        <label for="file" class="btn-2" (click)="LimpiarNombreArchivo()" id="iHor" matSuffix matTooltipPosition="right"
            matTooltip="Subir documentos. Tamaño máximo permitido 2MB.">
            Subir archivo
        </label>
    </form>
    <form [formGroup]="formulario">
        <input readonly id="letras" type="text" placeholder="Ningún archivo seleccionado." class="form-control"
            style="width: 230px;" [formControl]="documentoF">
    </form>
</div>
<br>
<div class="d-flex flex-wrap justify-content-center">
    <input type="submit" class="btn btn-sm" [disabled]="!formulario.valid"
        (click)="InsertarDocumento(formulario.value)" value="Guardar">
    <input type="submit" class="btn btn-sm" (click)="CerrarVentana()" value="Salir">
</div>